/* Körper-Stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Nachrichten-Stil */
.message {
    margin-top: 20px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Überschrift-Stil */
h1 {
    color: #333;
}

/* Absatz-Stil */
p {
    color: #555;
}

/* Exit-Link-Stil */
.exit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Exit-Link Hover-Effekt */
.exit:hover {
    background-color: #0056b3;
}

/*formatierung und flexbox für den footer*/
.bottom { 
    width: auto;
    border-style: solid;
    border-width: 4px;
    padding: 15px 40px;
    background-color: rgb(122, 171, 238);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }