/* Stil für das Warenkorb-Symbol */
#warenkorbIcon {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f00;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
