/*damit der body keinen abstand zum rand vom Fenster hat*/
body { 
  margin: 0 auto;
  display: flex;
  align-content: space-between;
  flex-direction: column;
}

p { /*alle p's*/
  margin: 0;
}

.banner { /*der erste text "Tony's Pizza Factory"*/
  border-style: solid;
  border-width: 2px;
  font-size: 20px;
}

nav { /*der blaue Banner und der Text/link "Tony's Pizza Factory"*/
  border-style: solid;
  height: 100px;
  font-size: 28px;
  background-color: rgb(122, 171, 238);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.willkommensSeiteLink{
  text-decoration: none;
}
/*die Links auf der rechten seite, um auf die anderen Seiten zu kommen*/
.links { 
  display: flex;
  justify-content: right;
  font-size: 23px;
  margin-right: 10px;
  padding: 0 20px;
}
/*Links Abstand zueinander*/
.links > a { 
  padding: 0 5px;
}
/*titel link*/
.titelText { 
  text-align: center;
  margin: 20px 0;
  font-size: 60px;
}
/*formatierung und flexbox für den footer*/
.bottom { 
  width: auto;
  border-style: solid;
  border-width: 4px;
  padding: 15px 40px;
  background-color: rgb(122, 171, 238);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
/*schrift style vom text in der mitte des footer*/
.jimmy { 
  font-style: italic;
}
/*foto auf der hauptseite*/
.restaurant { 
    height: 400px;
    display: block;
    margin: 0 auto 25px auto;
}
/*Fotos und Links auf der Hauptseite*/
.photosLinks { 
    display: flex;
    justify-content: space-around;
}
/*einzelnen fotos und links*/
.container { 
    position: relative;
    text-align: center;
}
/*pizza foto*/
.pizza { 
    height: 200px;
}
/*pizza link*/
.pizzaLink { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
}
 /*salad foto*/
.salad {
    height: 200px;
}
 /*salad link*/
.saladLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
}
/*sotdrink foto*/
.softdrinks { 
    height: 200px;
}

.softdrinksLink {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-size: 60px;
    font-weight: bold;
}
