.saladInfo {
  width: auto;
  display: flex; /* Flexbox-Layout-Style */
  justify-content: space-around;
  flex-wrap: wrap;
}
/*grösse der bilder*/
.saladFotos {
  height: 340px;
  width: 420px;
}
/*text*/
.saladText > h4 {
  margin: 10px 0 10px 0;
  font-size: large;
}

.saladText > p {
  margin: 0 0 10px 0;
  font-size: small;
}

.saladText- {
  display: flex;
  flex-wrap: stretch;
  align-items: center;
  margin: 0 0 10px 0;
}

.saladText- > select {
  flex-grow: 5;
}

.saladText- > p {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  flex-grow: 2;
}

.saladText- > button {
  flex-grow: 0.75;
}

/*formatierung und flexbox für den footer*/
.bottom { 
  width: auto;
  border-style: solid;
  border-width: 4px;
  padding: 15px 40px;
  background-color: rgb(122, 171, 238);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: absolute;
  left: 0;
  right: 0;
}