.pizzaInfo{
    width: auto;
    display: flex; /* Flexbox-Layout-Style */
    justify-content: space-around;
    flex-wrap: wrap;
}
    /*grösse der bilder*/
    .pizzaFotos {
        height: 400px;
        width: 400px;
    }
    /*text*/
    .pizzaText {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        width: 400px;
    }

    .pizzaText > h4 {
        flex-grow: 8;
    }

    .pizzaText > p {
        flex-grow: 1;
    }

    .pizzaText > button {
        flex-grow: 1;
        width: 40px;
    }

    .pizzaPriceShopCart {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;     
    }
/* Selbstausrichtung in der Mitte */
.pizzaType {
    align-self: center;
}
/* Schriftgröße-Style*/
.pizzaType > p {
    font-size: 15px;
}