/*damit der body keinen abstand zum rand vom Fenster hat*/
body { 
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    font-family: "Comic Sans MS";
  }

  /*der erste text "Tony's Pizza Factory"*/
  .banner { 
    margin: auto;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
  }

  /*der blaue Banner und der Text/link "Tony's Pizza Factory"*/
  nav { 
    border-style: solid;
    height: 100px;
    font-size: 28px;
    background-color: rgb(122, 171, 238);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .willkommensSeiteLink{
    text-decoration: none;
  }

   /*die Links auf der rechten seite, um auf die anderen Seiten zu kommen*/
  .links {
    display: flex;
    justify-content: right;
    font-size: 23px;
    margin-right: 10px;
    padding: 0 20px;
  }

  /*damit die Links einen Abstand zueinander haben*/
  .links > a { 
    padding: 0 5px;
  }

   /*formatierung und flexbox für den footer*/
  .bottom { 
    width: auto;
    border-style: solid;
    border-width: 4px;
    padding: 15px 40px;
    background-color: rgb(122, 171, 238);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  /*schrift style vom text in der mitte des footer*/
  .jimmy { 
    font-style: italic;
  }
.titelText {
  text-align: center;
  font-size: 60px;
}
p {
  margin: 0;
}

/*button style*/
.button { 
    background-color: white;
    border-color: aliceblue;
    width: 15px;
    height: 30px;
}

/*shoppingcart style*/
.shoppingCart {
  height: 15px;
}
.addCart {
  height: 15px;
}