.sodaInfo {
    width: auto;
    display: flex; /* Flexbox-Layout-Style */
    justify-content: space-around;
    flex-wrap: wrap;
}

.soda {
    margin: 20px;
}

.soda > img{
    margin: 0 0 0 15px;
}

/*text*/
.sodaText {
    text-align: center;
    font-size: 25px;
    margin: 20px 0 10px 15px;
}
/*grösse der bilder*/
.sodaFoto {
    height: 300px;
}

.buyingSoda {
    margin: 0 0 0 15px;
    display: flex;
}

.buyingSoda > select {
    flex-grow: 7.25;
}

.buyingSoda > p {
    margin-top: 10px;
    font-size: 20px;
    flex-grow: 2;
}

.buyingSoda > button {
    flex-grow: 0.75;
}

/*formatierung und flexbox für den footer*/
.bottom { 
    width: auto;
    border-style: solid;
    border-width: 4px;
    padding: 15px 40px;
    background-color: rgb(122, 171, 238);
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    position: absolute;
    left: 0;
    right: 0;
  }