.feedbackTable {
  display: flex; /* Flexbox-Layout-Style */
  flex-direction: column;
}

.feedbackMiddle {
  align-self: center;
  width: 75%;
}

.feedbackRow,
.lastfeedbackRow {
  display: flex; /* Flexbox-Layout-Style */
  justify-content: space-between;
  margin: 10px 0;
}

.feedbackRow {
  align-items: center;
}

.lastfeedbackRow {
  align-items: flex-start;
}

/* Style für Fragen in Feedback */
.feedbackQuestion {
  padding-right: 30px;
  flex: 1;
  text-align: right;
  font-weight: 600;

}

/* Style für Antworten in Feedback */
.feedbackAnswer {
  display: flex;
  align-items: flex-start;
  flex: 2;
}

/* Style für Eingabefelder und Labels in Antworten */
.feedbackAnswer input,
.feedbackAnswer label {
  justify-content: flex-start;
  display: flex;
}

/* Style für das Formular in Antworten */
.feedbackAnswer form {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
}

/* Style für Zeilen von Antworten */
.answerRow {
  display: flex;
}

/* Style für Eingabefelder und Textbereich im Feedback-Formular */
.feedbackForm input,
#feedbackText {
  border: 3px solid black;
  font-family: inherit;
  font-size: inherit;
  width: 60%;
}


.feedbackForm input,
#feedbackText,
.feedbackAnswer input .feedbackAnswer label {
  width: 60%;
}

/* Style für Radio-Buttons und Labels im Feedback-Formular */
.feedbackAnswer input[type="radio"],
label {
  cursor: pointer;
}

/* Style für das Feedback-Formular */
.feedbackForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 2;
}

/* Style für den Textbereich im Feedback-Formular */
#feedbackText {
  height: 200px;
  resize: none;
}

/* Style für den Abschnitt mit der Submit-Schaltfläche */
.submitButtonDiv {
  text-align: end;
  padding-top: 20px;
  width: 75%;
  padding-bottom: 30px;
}

/* Style für die Submit-Schaltfläche */
.submitButton {
  border: 2px solid black;
  background-color: white;
  box-shadow: 2px 2px black;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
}