.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    height: 100px;
    }

.bar {
    height: 100%;
    width: 100%; /* Ändere diesen Wert, um den Füllungsgrad der Leiste anzupassen */
    background-color: #3498db;
    }

.banner-text {
    margin-left: 10px;
    margin-top: -65px;
    font-weight: bold;
    font-size: x-large;
    color: #000000;
    }

.Salad{
    margin-top: 75px;
    font-size: xx-large;
}

  .image {
    margin-top: 200px;
    margin-left: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: -65px;
    margin-left: 1000px;
    }

.button {
    padding: 8px 16px;
    background-color: #3498db;
    color: rgb(9, 65, 114);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; 
}

.text-container {
    margin-left: 50px; 
}

footer {
    padding: 3px;
    background-color: rgb(155, 197, 235);
    color: white;
    position: fixed;
    bottom: 0;
    width: 99%;
}