.foto{
    border: 2px solid black;
    width: 300px;
    height: 500;
    right:20px;
    border-radius: 5%;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}